<div class="banner">
  <div class="banner-content">
    <h1>Fakebook</h1>
    <p>The #1 place for Fake Book Reviews.</p>
    <a style="background-color:#222222;border:#222222;" href="/books" class="btn btn-success btn-lg">Find Books</a>
  </div>
</div>