<div class="banner">
  <div class="banner-content">
    <h1>Books R Us</h1>
    <p>The place to read book reviews.</p>
    <a href="/books" class="btn btn-success btn-lg">Find Books</a>
  </div>
</div>