<div class="banner">
  <div class="banner-content">
    <h1>Books R Us</h1>
    <p>The place for book reviews.</p>
    <a style="background-color:#00bfff;border:#00bfff;" href="/books" class="btn btn-success btn-lg">Find Books</a>
  </div>
</div>