.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 20px;
}
.banner p {
  font-size: 25px;
  font-weight: bold;
  color: black;
  border: solid 3px black;
  background-color: antiquewhite;
  /* opacity: 0.8; */
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
}

.banner {
  background-image: image("janko-ferlic.jpg");
}

