// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper h2 {
  color: rgb(8, 3, 48);
  font-size: 18px;
  background: rgb(7, 150, 95);
}
.wrapper {
  border-style: solid;
  width: 30%;
  padding: 5px 0px;
}
.button {
display: flex;
justify-content: center;

}
.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-detail h2 {
  color: green;
  background: yellow;
}
.book-detail p,h2,h3,h4 {
  padding: 5px;
}



.book-detail {
  background: greenyellow;
 
}

.btn {
  // width: 200px;
  // height: 200px;
  padding: 5px 50px;
  border-radius: 40px;
  font-size: 18px;
  line-height: 1.33;
  border-color: black;
  color: white;
  background: blue;
  margin: 0px 5px;
}
